
 <footer class=" text-center mt-5">
         
    <div class="container py-2 ">
    
      <section class="">
      
        <a class=" footIcon fs-4  m-3" href="#" >
          <i class="fa-brands fa-linkedin"></i>
        </a>
        <a class=" footIcon fs-4  m-3" href="#!"  >
          <i class="fa-brands fa-github"></i>
        </a>
        <a class=" footIcon fs-4  m-3" href="#!"  >
          <i class="fa-solid fa-envelope"></i>
        </a>
        <a class=" footIcon fs-4 m-3 " href="#!"  >
          <i class="fa-brands fa-whatsapp"></i>
        </a>
        <a class=" footIcon fs-4 m-3 " href="#!"  >
          <i class="fa-brands fa-facebook"></i>
        </a>
        <div class="Copyright text-center m-2" >
          © 2023 Copyright: Marko Magdy
        </div>
      </section>
    </div>
  </footer>